workflows/odoo/Webhook _ Odoo Sale Order _ Lines V2_n1qfEPzQg1lnPwKa.json
{
  "id": "n1qfEPzQg1lnPwKa",
  "name": "Webhook \u2192 Odoo Sale Order + Lines V2",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1b61f2d6-80f3-4887-8c67-00ec77036e89",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1520,
        -16
      ],
      "id": "e38cdde7-d2a0-424f-a4db-571c07b4521a",
      "name": "Webhook",
      "webhookId": "1b61f2d6-80f3-4887-8c67-00ec77036e89"
    },
    {
      "parameters": {
        "operation": "get",
        "getBy": "name",
        "contactName": "={{ $json.body.customerName }}",
        "options": {}
      },
      "type": "CUSTOM.odooGeneric",
      "typeVersion": 1,
      "position": [
        -784,
        -192
      ],
      "id": "53c4cdbe-555d-46e2-84fb-34fdc4a49636",
      "name": "Get Contact by Name",
      "credentials": {
        "odooGenericApi": {
          "id": "oZpHSPOSuZ6d90qa",
          "name": "Odoo Generic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "saleOrder",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "partner_id",
              "fieldValue": "={{ $(\"Get Contact by Name\").item.json.id }}"
            },
            {
              "fieldName": "client_order_ref",
              "fieldValue": "={{ $('Webhook').item.json.body.clientOrderRef }}"
            }
          ]
        }
      },
      "type": "CUSTOM.odooGeneric",
      "typeVersion": 1,
      "position": [
        -528,
        -192
      ],
      "id": "0f67df33-cf30-428b-9723-9a6c54d055ad",
      "name": "Create Sale Order",
      "credentials": {
        "odooGenericApi": {
          "id": "oZpHSPOSuZ6d90qa",
          "name": "Odoo Generic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the JSON-RPC body to search products by code OR name\nconst lines = $('Webhook').first().json.body.orderLines;\nconst codes = lines.map(l => (l.productCode || '').trim());\n\n// OR domain: (default_code = X | name ilike X) for each code\nconst ors = Array(codes.length * 2 - 1).fill('|');\nconst conds = codes.flatMap(c => [['default_code', '=', c], ['name', 'ilike', c]]);\nconst domain = [...ors, ...conds];\n\nreturn [{\n  json: {\n    jsonrpc: '2.0', method: 'call',\n    params: { service: 'object', method: 'execute_kw',\n      args: ['OdooE', 2, 'e8bf48ea0d8f900b81cca73bfa671957d88c955e',\n        'product.product', 'search_read', [domain],\n        { fields: ['id', 'default_code', 'name'] }\n      ]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -192
      ],
      "id": "4b595532-0331-400e-a9a7-acdc153fccf0",
      "name": "Build Product Search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8069/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -192
      ],
      "id": "5714ba9b-b8f6-4acd-8f9d-61924f6c9241",
      "name": "Fetch Products"
    },
    {
      "parameters": {
        "jsCode": "const lines = $('Webhook').first().json.body.orderLines;\nconst soId = $('Create Sale Order').first().json.id;\nconst products = $('Fetch Products').first().json.result || [];\n\nreturn lines.map(line => {\n  const code = (line.productCode || '').trim();\n  const product = products.find(p => p.default_code === code)\n    || products.find(p => p.name && p.name.toLowerCase().includes(code.toLowerCase()));\n  if (!product) throw new Error(`Product not found: \"${code}\"`);\n  return {\n    json: {\n      order_id: soId,\n      product_id: product.id,\n      product_uom_qty: line.quantity,\n      price_unit: line.priceUnit,\n      discount: line.discount || 0,\n      name: line.description || product.name,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "ce2182ca-1baa-40f8-85b8-1e397c4be613",
      "name": "Prepare Lines"
    },
    {
      "parameters": {
        "resource": "custom",
        "customModel": "sale.order.line",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "order_id",
              "fieldValue": "={{ $json.order_id }}"
            },
            {
              "fieldName": "product_id",
              "fieldValue": "={{ $json.product_id }}"
            },
            {
              "fieldName": "product_uom_qty",
              "fieldValue": "={{ $json.product_uom_qty }}"
            },
            {
              "fieldName": "price_unit",
              "fieldValue": "={{ $json.price_unit }}"
            },
            {
              "fieldName": "discount",
              "fieldValue": "={{ $json.discount }}"
            },
            {
              "fieldName": "name",
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "CUSTOM.odooGeneric",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "41bc6366-89d6-4cad-92bf-1056742a6ec1",
      "name": "Create Order Line",
      "credentials": {
        "odooGenericApi": {
          "id": "oZpHSPOSuZ6d90qa",
          "name": "Odoo Generic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customModel": "sale.order",
        "operation": "executeMethod",
        "methodName": "action_confirm",
        "recordId": "={{ $('Create Sale Order').item.json.id }}"
      },
      "type": "CUSTOM.odooGeneric",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "9eebb357-b702-42ef-bc18-c813bd7d55f2",
      "name": "Confirm Order",
      "credentials": {
        "odooGenericApi": {
          "id": "oZpHSPOSuZ6d90qa",
          "name": "Odoo Generic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "saleOrder",
        "operation": "update",
        "saleOrderId": "={{ $('Create Sale Order').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "date_order",
              "fieldValue": "={{ $('Webhook').item.json.body.dateOrder }}"
            }
          ]
        }
      },
      "type": "CUSTOM.odooGeneric",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "a1155b76-2d77-4768-96b7-76ecb37c8454",
      "name": "Update Sale Order",
      "credentials": {
        "odooGenericApi": {
          "id": "oZpHSPOSuZ6d90qa",
          "name": "Odoo Generic account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, sale_order_id: $(\"Create Sale Order\").item.json.id, confirmed: true, lines_created: $(\"Create Order Line\").all().length }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        0
      ],
      "id": "13b90f0b-4e37-45e6-a8b9-ef36d84a9a03",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "saleOrder",
        "operation": "getAll",
        "options": {}
      },
      "type": "CUSTOM.odooGeneric",
      "typeVersion": 1,
      "position": [
        -1312,
        -16
      ],
      "id": "b8bca5c7-558a-4e29-a7e4-7b9fd250ec82",
      "name": "Get many sale orders",
      "credentials": {
        "odooGenericApi": {
          "id": "oZpHSPOSuZ6d90qa",
          "name": "Odoo Generic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0b0a393-3ce1-44ad-b903-652b399ff6f4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1072,
        -16
      ],
      "id": "fcf3f6ab-1abb-4b26-97f0-87a2a9b1ee4e",
      "name": "If"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many sale orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact by Name": {
      "main": [
        [
          {
            "node": "Create Sale Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sale Order": {
      "main": [
        [
          {
            "node": "Build Product Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Product Search": {
      "main": [
        [
          {
            "node": "Fetch Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products": {
      "main": [
        [
          {
            "node": "Prepare Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lines": {
      "main": [
        [
          {
            "node": "Create Order Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order Line": {
      "main": [
        [
          {
            "node": "Confirm Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Order": {
      "main": [
        [
          {
            "node": "Update Sale Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sale Order": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many sale orders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Contact by Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}